<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f67" Alias="Playground" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Playground</Path>
    <Trashed>false</Trashed>
    <ContentType>visualEditorPlayground</ContentType>
    <CreateDate>2026-09-23T10:11:19</CreateDate>
    <NodeName Default="Playground">
      <Name Culture="da-DK">Legeplads</Name>
      <Name Culture="en-US">Playground</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f66">visualEditorPlayground</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000102",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EF\u00F8rste element i en Block List.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000103",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000191",
              "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En billedblok i Block List."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000152",
      "values": []
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000153",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000102",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000103",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000102",
        "settingsKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000152"
      },
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000103",
        "settingsKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000153"
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000002",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EFirst item in a Block List.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000003",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000091",
              "mediaKey": "5598b628-b390-4532-8bb5-dab06089e9d7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "An image block inside the Block List."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000052",
      "values": []
    },
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000053",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000003",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000002",
        "settingsKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000052"
      },
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000003",
        "settingsKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000053"
      }
    ]
  }
}]]></Value>
    </blocks>
    <body>
      <Value Culture="da-DK"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EDette afsnit er en \u003Cstrong\u003Erich text\u003C/strong\u003E-egenskab, der varierer efter sprog.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EThis paragraph is a \u003Cstrong\u003Erich text\u003C/strong\u003E property that varies by culture.\u003C/p\u003E"
}]]></Value>
    </body>
    <grid>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000104",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EBlock Grid\u003C/h2\u003E\u003Cp\u003EEn r\u00E6kke i fuld bredde, efterfulgt af en layoutblok med to omr\u00E5der.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f62",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000105",
      "values": []
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000106",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EVenstre omr\u00E5de: en rich text-blok i en layoutblok.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000107",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000192",
              "mediaKey": "3c6c415c-35a0-4629-891e-683506250c31",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "H\u00F8jre omr\u00E5de: en indlejret billedblok."
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000108",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EBlok i halv bredde (6 kolonner).\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000109",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EEndnu en blok i halv bredde.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000104",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000105",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000106",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000107",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000108",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000109",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000104",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000106",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f68"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000107",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f69"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000105",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000108",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000109",
        "rowSpan": 1,
        "settingsKey": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000004",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch2\u003EBlock Grid\u003C/h2\u003E\u003Cp\u003EA full-width row, followed by a layout block with two areas.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f62",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000005",
      "values": []
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000006",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003ELeft area: a rich text block nested in a layout block.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000007",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000092",
              "mediaKey": "3c6c415c-35a0-4629-891e-683506250c31",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Right area: a nested image block."
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000008",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EHalf-width block (6 columns).\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000009",
      "values": [
        {
          "alias": "richContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EAnother half-width block.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000004",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000005",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000006",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000007",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000008",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000009",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000004",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000006",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f68"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000007",
                "rowSpan": 1,
                "settingsKey": null
              }
            ],
            "key": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f69"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000005",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000008",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000009",
        "rowSpan": 1,
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </grid>
    <hero>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f61",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000101",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En hero-blok"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vist fra en Single Block-egenskab."
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000190",
              "mediaKey": "48239f24-1450-49da-9964-934f512dde48",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000101",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.SingleBlock": [
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000101",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5e1d6a3b-7c42-4f0e-9a51-0b3c2d4e5f61",
      "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000001",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A single block hero"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Rendered from a Single Block property."
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000090",
              "mediaKey": "48239f24-1450-49da-9964-934f512dde48",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000001",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.SingleBlock": [
      {
        "contentKey": "7b1d2c3e-4f5a-4b6c-9d7e-000000000001",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </hero>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "7b1d2c3e-4f5a-4b6c-9d7e-000000000099",
    "mediaKey": "48239f24-1450-49da-9964-934f512dde48",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value Culture="da-DK"><![CDATA[Alle typer egenskaber som den visuelle editor skal kunne håndtere, på én side.]]></Value>
      <Value Culture="en-US"><![CDATA[Every property shape the visual editor needs to handle, on one page.]]></Value>
    </subtitle>
    <title>
      <Value Culture="da-DK"><![CDATA[Visual Editor Legeplads]]></Value>
      <Value Culture="en-US"><![CDATA[Visual Editor Playground]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>